:root {
  --mantine-breakpoint-xs: 36em;
  --mantine-breakpoint-sm: 48em;
  --mantine-breakpoint-md: 62em;
  --mantine-breakpoint-lg: 75em;
  --mantine-breakpoint-xl: 88em;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-border: #424242;
  --pill-color: #1f1f1f;
}

:root[data-mantine-color-scheme="light"] {
  --mantine-color-border: #dee2e6;
  --pill-color: #f1f3f5;
}

.flex-grow-1 {
  flex-grow: 1;
}

.navbar__search {
  flex-grow: 1;
}

.scrollable__tabs {
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable__tabs::-webkit-scrollbar {
  display: none;
}

.scrollable__tabs .scrollable__tabs__tablist {
  min-width: min-content;
  flex-wrap: nowrap;
}

.custom__list__item:not(:last-child) {
  border-bottom: 1px solid var(--_app-shell-border-color);
}

.custom__career__item:not(:last-child) {
  border-bottom: 1px solid var(--_app-shell-border-color);
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
}

@media (min-width: 48em) {
  .navbar__search {
    max-width: 300px;
  }

  .md-flex-grow-0 {
    flex-grow: 0;
  }
}

footer {
  border-top: calc(0.0625rem* var(--mantine-scale)) solid var(--mantine-color-border);
}

.pill {
  background-color: var(--pill-color);
}

.prewrap_breakword {
  white-space: pre-wrap;
  word-break: break-word;
}

.like__button .mantine-ActionIcon-loader {
  background-color: transparent;
}

.github__calendar > div {
  font-size: var(--mantine-font-size-sm);
}