:root {
  --mantine-breakpoint-xs: 36em;
  --mantine-breakpoint-sm: 48em;
  --mantine-breakpoint-md: 62em;
  --mantine-breakpoint-lg: 75em;
  --mantine-breakpoint-xl: 88em;
}

.flex-grow-1 {
  flex-grow: 1;
}
.navbar__search {
  flex-grow: 1;
}

.scrollable__tabs {
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable__tabs::-webkit-scrollbar {
  display: none;
}

.scrollable__tabs .scrollable__tabs__tablist {
  min-width: min-content;
  flex-wrap: nowrap;
}

@media (min-width: 48em) {
  .navbar__search {
    max-width: 300px;
  }

  .md-flex-grow-0 {
    flex-grow: 0;
  }
}